<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800" rel="stylesheet">
</head>
<body>
<header>
    <h1>Login to FANTASTIC CMS</h1>
</header>
<section class="login_form">
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" th:required="required"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" th:required="required"><br>
        <input type="submit" value="Login">
    </form>
</section>
<footer>
    <p>&copy; 2024 FANTASTIC CMS. All rights reserved.</p>
</footer>
</body>
</html>