<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FANTASTIC</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800" rel="stylesheet">
</head>
<body>
<header>
    <h1>Welcome to FANTASTIC CMS</h1>
</header>

<section class="latest_news">
    <h2>Latest News</h2>

    <a href="/news/create">
        <button type="button">Go to News Creation</button>
    </a>

    <div class="news-tiles">
        <ul>
            <li th:each="news : ${newsList}" class="news-tile">
                <h3 th:text="${news.title}"></h3>
                <h4 th:text="'By: ' + ${news.author.username}"></h4>
                <h4 th:text="'Category: ' + ${news.category.name}"></h4>
                <p th:text="${news.content}">
                <form th:action="@{/news/delete}" th:method="POST">
                    <input type="hidden" name="newsId" th:value="${news.id}"/>
                    <button type="submit"> X </button>
                </form>
                <div th:if="${errorDeleteNews}" class="error-popup">
                    <span th:text="${errorDeleteNews}"></span>
                </div>
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="categories">
    <h2>Categories</h2>

    <a href="/category/create">
        <button type="button">Go to Category Creation</button>
    </a>

    <div class="category-tiles">
        <ul>
            <li th:each="category : ${categoryList}" class="category-tile" >
                <span th:text="${category.name}"></span>
                <form th:action="@{/category/delete}" th:method="POST">
                    <input type="hidden" name="categoryId" th:value="${category.id}" />
                    <button type="submit"> X </button>
                </form>
                <div th:if="${errorDeleteCategory}" class="error-popup">
                    <span th:text="${errorDeleteCategory}"></span>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="users">
    <h2>Users</h2>
    <div class="user-tiles">
        <ul>
            <li th:each="user : ${userList}" class="user-tile" th:text="${user.username}"></li>
        </ul>
    </div>
</section>

<footer>
    <form method="POST" action="/logout">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Logout</button>
    </form>

    <p>&copy; 2024 FANTASTIC CMS. All rights reserved.</p>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var errorPopup = document.querySelector(".error-popup");
        if (errorPopup) {
            setTimeout(function() {
                errorPopup.style.opacity = "0";
            }, 5000); // Dymek znika po 5 sekundach
        }
    });
</script>
</body>
</html>
